<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p>Hello {{name}},</p>
      <p>We recieved a request to reset your AuthKit Password.
        <br />
        If you did not initiate this, please reset your password immediately.</p>
      <a href={{link}} class="btn-link">Reset Password</a>
      <h3 style="margin-top:50px">
        Didn't request this change?
      </h3>
      <p style="margin-bottom:50px">
        If you didn't request a password reset, you can ignore this mail.
        <br />
        Your Password will not be changed.
      </p>
      <hr />
      <p>Regards,</p>
      <p><b>AuthKit</b>Team</p>
      <div>
        <p style="font-size:0.8rem">
          if you are having trouble clicking the "Reset password" button, copy
          and paste the URL below into your web browser:
          <br />
          <a href={{link}}>{{link}}</a>
        </p>
      </div>
    </div>
  </body>
</html>